/* Generated CSS #2012 */
.el-2012-0 { color: rgb(49,242,186); padding: 13px; margin: 10px; display: flex; }
.el-2012-1 { color: rgb(5,158,167); padding: 31px; margin: 3px; display: flex; }
.el-2012-2 { color: rgb(141,212,106); padding: 32px; margin: 9px; display: flex; }
.el-2012-3 { color: rgb(84,208,155); padding: 24px; margin: 9px; display: flex; }
.el-2012-4 { color: rgb(0,104,219); padding: 2px; margin: 1px; display: flex; }
.el-2012-5 { color: rgb(214,88,184); padding: 25px; margin: 6px; display: flex; }
.el-2012-6 { color: rgb(181,74,212); padding: 32px; margin: 3px; display: flex; }
.el-2012-7 { color: rgb(131,71,217); padding: 21px; margin: 14px; display: flex; }
.el-2012-8 { color: rgb(75,210,179); padding: 4px; margin: 14px; display: flex; }
.el-2012-9 { color: rgb(237,128,78); padding: 9px; margin: 14px; display: flex; }
.el-2012-10 { color: rgb(35,76,240); padding: 31px; margin: 0px; display: flex; }
.el-2012-11 { color: rgb(67,31,56); padding: 22px; margin: 0px; display: flex; }
.el-2012-12 { color: rgb(74,6,17); padding: 8px; margin: 16px; display: flex; }
.el-2012-13 { color: rgb(209,56,10); padding: 16px; margin: 11px; display: flex; }
.el-2012-14 { color: rgb(127,208,114); padding: 20px; margin: 8px; display: flex; }
.el-2012-15 { color: rgb(72,12,161); padding: 26px; margin: 2px; display: flex; }
.el-2012-16 { color: rgb(204,25,63); padding: 19px; margin: 0px; display: flex; }
.el-2012-17 { color: rgb(65,0,137); padding: 28px; margin: 2px; display: flex; }
.el-2012-18 { color: rgb(17,224,142); padding: 30px; margin: 1px; display: flex; }
.el-2012-19 { color: rgb(115,64,204); padding: 9px; margin: 12px; display: flex; }
.el-2012-20 { color: rgb(94,95,196); padding: 29px; margin: 6px; display: flex; }
.el-2012-21 { color: rgb(126,203,82); padding: 31px; margin: 0px; display: flex; }
.el-2012-22 { color: rgb(219,94,213); padding: 12px; margin: 11px; display: flex; }
.el-2012-23 { color: rgb(105,177,232); padding: 15px; margin: 9px; display: flex; }
.el-2012-24 { color: rgb(172,230,246); padding: 6px; margin: 6px; display: flex; }
.el-2012-25 { color: rgb(32,29,157); padding: 9px; margin: 11px; display: flex; }
.el-2012-26 { color: rgb(104,66,8); padding: 12px; margin: 5px; display: flex; }
.el-2012-27 { color: rgb(103,208,178); padding: 10px; margin: 0px; display: flex; }
.el-2012-28 { color: rgb(239,126,22); padding: 2px; margin: 15px; display: flex; }
.el-2012-29 { color: rgb(29,50,87); padding: 2px; margin: 15px; display: flex; }
.el-2012-30 { color: rgb(4,93,25); padding: 3px; margin: 1px; display: flex; }
.el-2012-31 { color: rgb(99,141,190); padding: 3px; margin: 15px; display: flex; }
.el-2012-32 { color: rgb(147,131,237); padding: 31px; margin: 4px; display: flex; }
.el-2012-33 { color: rgb(254,202,152); padding: 32px; margin: 8px; display: flex; }
.el-2012-34 { color: rgb(112,120,177); padding: 2px; margin: 16px; display: flex; }
.el-2012-35 { color: rgb(47,11,123); padding: 5px; margin: 2px; display: flex; }
.el-2012-36 { color: rgb(166,194,28); padding: 15px; margin: 16px; display: flex; }
.el-2012-37 { color: rgb(53,160,140); padding: 3px; margin: 2px; display: flex; }
.el-2012-38 { color: rgb(129,238,201); padding: 30px; margin: 10px; display: flex; }
.el-2012-39 { color: rgb(202,40,128); padding: 32px; margin: 9px; display: flex; }
.el-2012-40 { color: rgb(224,189,27); padding: 32px; margin: 6px; display: flex; }
.el-2012-41 { color: rgb(191,17,14); padding: 12px; margin: 10px; display: flex; }
.el-2012-42 { color: rgb(220,192,102); padding: 22px; margin: 1px; display: flex; }
.el-2012-43 { color: rgb(216,99,17); padding: 15px; margin: 4px; display: flex; }
.el-2012-44 { color: rgb(123,170,146); padding: 25px; margin: 3px; display: flex; }
.el-2012-45 { color: rgb(16,107,96); padding: 26px; margin: 6px; display: flex; }
.el-2012-46 { color: rgb(249,225,209); padding: 25px; margin: 3px; display: flex; }
.el-2012-47 { color: rgb(144,210,208); padding: 23px; margin: 8px; display: flex; }
.el-2012-48 { color: rgb(186,89,16); padding: 9px; margin: 6px; display: flex; }
.el-2012-49 { color: rgb(150,240,206); padding: 24px; margin: 4px; display: flex; }
.el-2012-50 { color: rgb(142,100,167); padding: 10px; margin: 7px; display: flex; }
.el-2012-51 { color: rgb(244,138,242); padding: 13px; margin: 8px; display: flex; }
.el-2012-52 { color: rgb(1,82,230); padding: 24px; margin: 3px; display: flex; }
.el-2012-53 { color: rgb(38,101,172); padding: 12px; margin: 6px; display: flex; }
.el-2012-54 { color: rgb(16,213,125); padding: 19px; margin: 4px; display: flex; }
.el-2012-55 { color: rgb(180,70,249); padding: 9px; margin: 8px; display: flex; }
.el-2012-56 { color: rgb(178,73,58); padding: 14px; margin: 3px; display: flex; }
.el-2012-57 { color: rgb(103,18,246); padding: 17px; margin: 15px; display: flex; }
.el-2012-58 { color: rgb(170,49,2); padding: 30px; margin: 3px; display: flex; }
.el-2012-59 { color: rgb(110,64,189); padding: 19px; margin: 9px; display: flex; }
.el-2012-60 { color: rgb(175,43,106); padding: 18px; margin: 10px; display: flex; }
.el-2012-61 { color: rgb(62,177,240); padding: 4px; margin: 13px; display: flex; }
.el-2012-62 { color: rgb(167,153,237); padding: 3px; margin: 12px; display: flex; }
.el-2012-63 { color: rgb(242,202,111); padding: 14px; margin: 10px; display: flex; }
.el-2012-64 { color: rgb(162,167,55); padding: 18px; margin: 0px; display: flex; }
.el-2012-65 { color: rgb(73,91,234); padding: 13px; margin: 11px; display: flex; }
.el-2012-66 { color: rgb(119,22,168); padding: 1px; margin: 14px; display: flex; }
.el-2012-67 { color: rgb(36,135,230); padding: 17px; margin: 14px; display: flex; }
.el-2012-68 { color: rgb(155,86,103); padding: 5px; margin: 16px; display: flex; }
.el-2012-69 { color: rgb(22,25,181); padding: 21px; margin: 2px; display: flex; }
.el-2012-70 { color: rgb(74,45,45); padding: 20px; margin: 14px; display: flex; }
.el-2012-71 { color: rgb(14,39,205); padding: 29px; margin: 0px; display: flex; }
.el-2012-72 { color: rgb(9,83,23); padding: 26px; margin: 5px; display: flex; }
.el-2012-73 { color: rgb(45,206,199); padding: 30px; margin: 6px; display: flex; }
.el-2012-74 { color: rgb(61,57,168); padding: 31px; margin: 5px; display: flex; }
.el-2012-75 { color: rgb(187,195,239); padding: 28px; margin: 7px; display: flex; }
.el-2012-76 { color: rgb(210,3,56); padding: 5px; margin: 4px; display: flex; }
.el-2012-77 { color: rgb(78,248,70); padding: 18px; margin: 9px; display: flex; }
.el-2012-78 { color: rgb(238,137,53); padding: 1px; margin: 3px; display: flex; }
.el-2012-79 { color: rgb(230,77,240); padding: 3px; margin: 16px; display: flex; }
.el-2012-80 { color: rgb(24,202,119); padding: 16px; margin: 0px; display: flex; }
.el-2012-81 { color: rgb(242,76,12); padding: 11px; margin: 1px; display: flex; }