/* Generated CSS #2026 */
.el-2026-0 { color: rgb(60,163,52); padding: 15px; margin: 13px; display: flex; }
.el-2026-1 { color: rgb(251,225,122); padding: 1px; margin: 2px; display: flex; }
.el-2026-2 { color: rgb(56,147,50); padding: 29px; margin: 0px; display: flex; }
.el-2026-3 { color: rgb(251,160,107); padding: 26px; margin: 8px; display: flex; }
.el-2026-4 { color: rgb(178,182,192); padding: 5px; margin: 10px; display: flex; }
.el-2026-5 { color: rgb(45,149,147); padding: 30px; margin: 4px; display: flex; }
.el-2026-6 { color: rgb(158,12,188); padding: 24px; margin: 14px; display: flex; }
.el-2026-7 { color: rgb(216,46,204); padding: 32px; margin: 3px; display: flex; }
.el-2026-8 { color: rgb(217,251,203); padding: 17px; margin: 13px; display: flex; }
.el-2026-9 { color: rgb(245,12,114); padding: 9px; margin: 1px; display: flex; }
.el-2026-10 { color: rgb(52,219,240); padding: 10px; margin: 15px; display: flex; }
.el-2026-11 { color: rgb(117,62,233); padding: 31px; margin: 8px; display: flex; }
.el-2026-12 { color: rgb(205,157,245); padding: 26px; margin: 13px; display: flex; }
.el-2026-13 { color: rgb(103,150,137); padding: 1px; margin: 1px; display: flex; }
.el-2026-14 { color: rgb(76,234,250); padding: 24px; margin: 6px; display: flex; }
.el-2026-15 { color: rgb(133,248,238); padding: 32px; margin: 13px; display: flex; }
.el-2026-16 { color: rgb(17,148,162); padding: 30px; margin: 3px; display: flex; }
.el-2026-17 { color: rgb(224,132,231); padding: 12px; margin: 13px; display: flex; }
.el-2026-18 { color: rgb(245,32,136); padding: 32px; margin: 11px; display: flex; }
.el-2026-19 { color: rgb(49,99,210); padding: 10px; margin: 14px; display: flex; }
.el-2026-20 { color: rgb(7,47,0); padding: 29px; margin: 2px; display: flex; }
.el-2026-21 { color: rgb(101,126,61); padding: 3px; margin: 8px; display: flex; }
.el-2026-22 { color: rgb(182,79,2); padding: 21px; margin: 15px; display: flex; }
.el-2026-23 { color: rgb(69,114,242); padding: 9px; margin: 16px; display: flex; }
.el-2026-24 { color: rgb(148,43,213); padding: 11px; margin: 4px; display: flex; }
.el-2026-25 { color: rgb(156,210,199); padding: 10px; margin: 16px; display: flex; }
.el-2026-26 { color: rgb(100,192,7); padding: 7px; margin: 12px; display: flex; }
.el-2026-27 { color: rgb(37,26,177); padding: 23px; margin: 0px; display: flex; }
.el-2026-28 { color: rgb(13,243,167); padding: 20px; margin: 14px; display: flex; }
.el-2026-29 { color: rgb(166,62,254); padding: 30px; margin: 5px; display: flex; }
.el-2026-30 { color: rgb(78,105,222); padding: 22px; margin: 14px; display: flex; }
.el-2026-31 { color: rgb(119,35,204); padding: 3px; margin: 6px; display: flex; }
.el-2026-32 { color: rgb(88,23,24); padding: 29px; margin: 6px; display: flex; }
.el-2026-33 { color: rgb(247,10,66); padding: 14px; margin: 16px; display: flex; }
.el-2026-34 { color: rgb(70,82,95); padding: 25px; margin: 8px; display: flex; }
.el-2026-35 { color: rgb(217,212,40); padding: 25px; margin: 9px; display: flex; }
.el-2026-36 { color: rgb(95,176,89); padding: 17px; margin: 14px; display: flex; }
.el-2026-37 { color: rgb(254,212,147); padding: 30px; margin: 5px; display: flex; }
.el-2026-38 { color: rgb(166,246,227); padding: 8px; margin: 16px; display: flex; }
.el-2026-39 { color: rgb(140,48,109); padding: 15px; margin: 0px; display: flex; }
.el-2026-40 { color: rgb(47,232,169); padding: 27px; margin: 5px; display: flex; }
.el-2026-41 { color: rgb(13,180,80); padding: 23px; margin: 6px; display: flex; }
.el-2026-42 { color: rgb(56,143,109); padding: 19px; margin: 8px; display: flex; }
.el-2026-43 { color: rgb(67,51,135); padding: 7px; margin: 13px; display: flex; }
.el-2026-44 { color: rgb(87,54,30); padding: 23px; margin: 5px; display: flex; }
.el-2026-45 { color: rgb(54,160,141); padding: 5px; margin: 9px; display: flex; }
.el-2026-46 { color: rgb(161,82,133); padding: 17px; margin: 2px; display: flex; }
.el-2026-47 { color: rgb(7,210,131); padding: 27px; margin: 0px; display: flex; }
.el-2026-48 { color: rgb(29,49,120); padding: 2px; margin: 9px; display: flex; }
.el-2026-49 { color: rgb(62,48,179); padding: 21px; margin: 14px; display: flex; }
.el-2026-50 { color: rgb(19,206,161); padding: 14px; margin: 14px; display: flex; }
.el-2026-51 { color: rgb(218,61,191); padding: 17px; margin: 12px; display: flex; }
.el-2026-52 { color: rgb(149,182,29); padding: 28px; margin: 0px; display: flex; }
.el-2026-53 { color: rgb(144,169,148); padding: 8px; margin: 9px; display: flex; }
.el-2026-54 { color: rgb(213,163,10); padding: 22px; margin: 6px; display: flex; }
.el-2026-55 { color: rgb(28,57,83); padding: 8px; margin: 3px; display: flex; }
.el-2026-56 { color: rgb(19,64,181); padding: 20px; margin: 0px; display: flex; }
.el-2026-57 { color: rgb(217,64,182); padding: 27px; margin: 12px; display: flex; }
.el-2026-58 { color: rgb(193,122,215); padding: 15px; margin: 4px; display: flex; }
.el-2026-59 { color: rgb(93,14,203); padding: 17px; margin: 4px; display: flex; }
.el-2026-60 { color: rgb(116,11,8); padding: 18px; margin: 15px; display: flex; }
.el-2026-61 { color: rgb(213,135,161); padding: 9px; margin: 2px; display: flex; }
.el-2026-62 { color: rgb(91,19,135); padding: 22px; margin: 16px; display: flex; }
.el-2026-63 { color: rgb(162,28,5); padding: 16px; margin: 15px; display: flex; }
.el-2026-64 { color: rgb(29,113,77); padding: 26px; margin: 11px; display: flex; }
.el-2026-65 { color: rgb(119,141,175); padding: 13px; margin: 11px; display: flex; }
.el-2026-66 { color: rgb(183,235,234); padding: 31px; margin: 9px; display: flex; }
.el-2026-67 { color: rgb(96,81,210); padding: 10px; margin: 15px; display: flex; }
.el-2026-68 { color: rgb(2,181,209); padding: 3px; margin: 5px; display: flex; }
.el-2026-69 { color: rgb(43,153,190); padding: 17px; margin: 4px; display: flex; }
.el-2026-70 { color: rgb(51,9,111); padding: 20px; margin: 1px; display: flex; }
.el-2026-71 { color: rgb(201,194,80); padding: 7px; margin: 2px; display: flex; }
.el-2026-72 { color: rgb(72,199,170); padding: 17px; margin: 9px; display: flex; }
.el-2026-73 { color: rgb(21,97,83); padding: 19px; margin: 9px; display: flex; }
.el-2026-74 { color: rgb(146,182,68); padding: 25px; margin: 6px; display: flex; }
.el-2026-75 { color: rgb(4,245,216); padding: 23px; margin: 5px; display: flex; }
.el-2026-76 { color: rgb(15,91,161); padding: 10px; margin: 5px; display: flex; }
.el-2026-77 { color: rgb(14,59,1); padding: 24px; margin: 2px; display: flex; }
.el-2026-78 { color: rgb(188,154,110); padding: 10px; margin: 7px; display: flex; }
.el-2026-79 { color: rgb(64,54,167); padding: 32px; margin: 3px; display: flex; }
.el-2026-80 { color: rgb(37,195,134); padding: 20px; margin: 3px; display: flex; }
.el-2026-81 { color: rgb(178,242,255); padding: 8px; margin: 16px; display: flex; }
.el-2026-82 { color: rgb(126,183,233); padding: 23px; margin: 2px; display: flex; }
.el-2026-83 { color: rgb(35,44,253); padding: 20px; margin: 8px; display: flex; }