/* Generated CSS #2021 */
.el-2021-0 { color: rgb(206,141,126); padding: 3px; margin: 14px; display: flex; }
.el-2021-1 { color: rgb(242,32,160); padding: 18px; margin: 9px; display: flex; }
.el-2021-2 { color: rgb(243,39,82); padding: 11px; margin: 1px; display: flex; }
.el-2021-3 { color: rgb(53,150,26); padding: 30px; margin: 3px; display: flex; }
.el-2021-4 { color: rgb(102,225,143); padding: 22px; margin: 11px; display: flex; }
.el-2021-5 { color: rgb(202,57,112); padding: 16px; margin: 14px; display: flex; }
.el-2021-6 { color: rgb(226,240,59); padding: 15px; margin: 14px; display: flex; }
.el-2021-7 { color: rgb(242,144,69); padding: 18px; margin: 0px; display: flex; }
.el-2021-8 { color: rgb(10,117,99); padding: 11px; margin: 7px; display: flex; }
.el-2021-9 { color: rgb(205,218,188); padding: 17px; margin: 1px; display: flex; }
.el-2021-10 { color: rgb(140,39,43); padding: 12px; margin: 14px; display: flex; }
.el-2021-11 { color: rgb(112,70,219); padding: 26px; margin: 8px; display: flex; }
.el-2021-12 { color: rgb(223,90,218); padding: 9px; margin: 15px; display: flex; }
.el-2021-13 { color: rgb(145,55,177); padding: 1px; margin: 14px; display: flex; }
.el-2021-14 { color: rgb(150,180,57); padding: 5px; margin: 16px; display: flex; }
.el-2021-15 { color: rgb(47,221,167); padding: 7px; margin: 3px; display: flex; }
.el-2021-16 { color: rgb(82,202,81); padding: 24px; margin: 6px; display: flex; }
.el-2021-17 { color: rgb(70,40,59); padding: 2px; margin: 10px; display: flex; }
.el-2021-18 { color: rgb(173,23,140); padding: 2px; margin: 13px; display: flex; }
.el-2021-19 { color: rgb(91,56,19); padding: 1px; margin: 13px; display: flex; }
.el-2021-20 { color: rgb(173,18,204); padding: 31px; margin: 11px; display: flex; }
.el-2021-21 { color: rgb(122,129,138); padding: 22px; margin: 5px; display: flex; }
.el-2021-22 { color: rgb(221,179,192); padding: 11px; margin: 10px; display: flex; }
.el-2021-23 { color: rgb(33,85,117); padding: 2px; margin: 15px; display: flex; }
.el-2021-24 { color: rgb(76,235,114); padding: 22px; margin: 5px; display: flex; }
.el-2021-25 { color: rgb(25,174,95); padding: 19px; margin: 5px; display: flex; }
.el-2021-26 { color: rgb(182,105,7); padding: 24px; margin: 8px; display: flex; }
.el-2021-27 { color: rgb(31,102,209); padding: 6px; margin: 9px; display: flex; }
.el-2021-28 { color: rgb(85,210,246); padding: 4px; margin: 7px; display: flex; }
.el-2021-29 { color: rgb(162,58,235); padding: 10px; margin: 8px; display: flex; }
.el-2021-30 { color: rgb(169,58,208); padding: 18px; margin: 7px; display: flex; }
.el-2021-31 { color: rgb(21,152,239); padding: 32px; margin: 9px; display: flex; }
.el-2021-32 { color: rgb(230,205,236); padding: 19px; margin: 13px; display: flex; }
.el-2021-33 { color: rgb(199,7,68); padding: 26px; margin: 8px; display: flex; }
.el-2021-34 { color: rgb(152,187,128); padding: 18px; margin: 7px; display: flex; }
.el-2021-35 { color: rgb(30,138,128); padding: 25px; margin: 3px; display: flex; }
.el-2021-36 { color: rgb(51,11,122); padding: 26px; margin: 16px; display: flex; }
.el-2021-37 { color: rgb(142,81,231); padding: 15px; margin: 2px; display: flex; }
.el-2021-38 { color: rgb(64,142,138); padding: 31px; margin: 8px; display: flex; }
.el-2021-39 { color: rgb(209,246,56); padding: 10px; margin: 4px; display: flex; }
.el-2021-40 { color: rgb(86,168,168); padding: 12px; margin: 6px; display: flex; }
.el-2021-41 { color: rgb(235,176,239); padding: 3px; margin: 4px; display: flex; }
.el-2021-42 { color: rgb(78,103,184); padding: 24px; margin: 4px; display: flex; }
.el-2021-43 { color: rgb(240,115,239); padding: 9px; margin: 4px; display: flex; }
.el-2021-44 { color: rgb(11,234,247); padding: 12px; margin: 0px; display: flex; }
.el-2021-45 { color: rgb(3,112,226); padding: 10px; margin: 16px; display: flex; }
.el-2021-46 { color: rgb(199,202,186); padding: 29px; margin: 1px; display: flex; }
.el-2021-47 { color: rgb(40,79,99); padding: 15px; margin: 0px; display: flex; }
.el-2021-48 { color: rgb(178,31,107); padding: 22px; margin: 4px; display: flex; }
.el-2021-49 { color: rgb(152,122,153); padding: 31px; margin: 12px; display: flex; }
.el-2021-50 { color: rgb(105,67,222); padding: 1px; margin: 16px; display: flex; }
.el-2021-51 { color: rgb(22,230,64); padding: 16px; margin: 15px; display: flex; }
.el-2021-52 { color: rgb(246,155,71); padding: 16px; margin: 1px; display: flex; }
.el-2021-53 { color: rgb(7,144,68); padding: 21px; margin: 2px; display: flex; }
.el-2021-54 { color: rgb(160,73,123); padding: 19px; margin: 4px; display: flex; }
.el-2021-55 { color: rgb(21,239,53); padding: 17px; margin: 13px; display: flex; }
.el-2021-56 { color: rgb(226,60,33); padding: 3px; margin: 11px; display: flex; }
.el-2021-57 { color: rgb(97,55,63); padding: 18px; margin: 13px; display: flex; }
.el-2021-58 { color: rgb(5,129,151); padding: 24px; margin: 6px; display: flex; }
.el-2021-59 { color: rgb(103,40,238); padding: 7px; margin: 15px; display: flex; }
.el-2021-60 { color: rgb(207,55,125); padding: 21px; margin: 15px; display: flex; }
.el-2021-61 { color: rgb(17,161,26); padding: 24px; margin: 13px; display: flex; }
.el-2021-62 { color: rgb(208,133,171); padding: 6px; margin: 12px; display: flex; }
.el-2021-63 { color: rgb(76,94,254); padding: 19px; margin: 12px; display: flex; }
.el-2021-64 { color: rgb(198,213,71); padding: 25px; margin: 3px; display: flex; }
.el-2021-65 { color: rgb(226,18,71); padding: 19px; margin: 15px; display: flex; }
.el-2021-66 { color: rgb(24,30,62); padding: 12px; margin: 16px; display: flex; }
.el-2021-67 { color: rgb(181,108,85); padding: 14px; margin: 13px; display: flex; }
.el-2021-68 { color: rgb(227,189,247); padding: 21px; margin: 12px; display: flex; }
.el-2021-69 { color: rgb(22,76,110); padding: 16px; margin: 6px; display: flex; }
.el-2021-70 { color: rgb(27,69,28); padding: 1px; margin: 12px; display: flex; }
.el-2021-71 { color: rgb(20,253,212); padding: 7px; margin: 11px; display: flex; }
.el-2021-72 { color: rgb(63,215,61); padding: 10px; margin: 16px; display: flex; }
.el-2021-73 { color: rgb(83,98,14); padding: 18px; margin: 4px; display: flex; }
.el-2021-74 { color: rgb(51,218,53); padding: 28px; margin: 12px; display: flex; }
.el-2021-75 { color: rgb(163,48,177); padding: 16px; margin: 4px; display: flex; }
.el-2021-76 { color: rgb(182,239,25); padding: 1px; margin: 14px; display: flex; }
.el-2021-77 { color: rgb(197,242,39); padding: 31px; margin: 3px; display: flex; }
.el-2021-78 { color: rgb(47,229,229); padding: 18px; margin: 3px; display: flex; }
.el-2021-79 { color: rgb(64,136,253); padding: 21px; margin: 4px; display: flex; }
.el-2021-80 { color: rgb(41,52,102); padding: 24px; margin: 3px; display: flex; }
.el-2021-81 { color: rgb(218,119,40); padding: 5px; margin: 7px; display: flex; }
.el-2021-82 { color: rgb(117,43,143); padding: 6px; margin: 5px; display: flex; }
.el-2021-83 { color: rgb(73,201,214); padding: 8px; margin: 5px; display: flex; }
.el-2021-84 { color: rgb(158,196,78); padding: 30px; margin: 8px; display: flex; }
.el-2021-85 { color: rgb(233,156,254); padding: 30px; margin: 6px; display: flex; }