/* Generated CSS #2028 */
.el-2028-0 { color: rgb(181,91,14); padding: 24px; margin: 11px; display: flex; }
.el-2028-1 { color: rgb(134,83,5); padding: 13px; margin: 9px; display: flex; }
.el-2028-2 { color: rgb(182,0,29); padding: 13px; margin: 0px; display: flex; }
.el-2028-3 { color: rgb(0,154,243); padding: 9px; margin: 9px; display: flex; }
.el-2028-4 { color: rgb(117,212,239); padding: 6px; margin: 15px; display: flex; }
.el-2028-5 { color: rgb(83,210,193); padding: 22px; margin: 7px; display: flex; }
.el-2028-6 { color: rgb(178,96,89); padding: 24px; margin: 7px; display: flex; }
.el-2028-7 { color: rgb(141,8,247); padding: 31px; margin: 9px; display: flex; }
.el-2028-8 { color: rgb(112,180,250); padding: 12px; margin: 14px; display: flex; }
.el-2028-9 { color: rgb(112,48,30); padding: 32px; margin: 6px; display: flex; }
.el-2028-10 { color: rgb(132,198,226); padding: 24px; margin: 4px; display: flex; }
.el-2028-11 { color: rgb(141,101,208); padding: 28px; margin: 3px; display: flex; }
.el-2028-12 { color: rgb(202,24,33); padding: 15px; margin: 9px; display: flex; }
.el-2028-13 { color: rgb(48,2,240); padding: 28px; margin: 7px; display: flex; }
.el-2028-14 { color: rgb(21,3,226); padding: 29px; margin: 3px; display: flex; }
.el-2028-15 { color: rgb(41,192,170); padding: 13px; margin: 10px; display: flex; }
.el-2028-16 { color: rgb(171,131,223); padding: 14px; margin: 16px; display: flex; }
.el-2028-17 { color: rgb(106,124,229); padding: 2px; margin: 0px; display: flex; }
.el-2028-18 { color: rgb(149,88,79); padding: 3px; margin: 3px; display: flex; }
.el-2028-19 { color: rgb(129,241,82); padding: 31px; margin: 0px; display: flex; }
.el-2028-20 { color: rgb(13,82,176); padding: 27px; margin: 1px; display: flex; }
.el-2028-21 { color: rgb(236,155,69); padding: 24px; margin: 11px; display: flex; }
.el-2028-22 { color: rgb(123,23,11); padding: 20px; margin: 16px; display: flex; }
.el-2028-23 { color: rgb(95,59,220); padding: 3px; margin: 9px; display: flex; }
.el-2028-24 { color: rgb(52,196,145); padding: 1px; margin: 15px; display: flex; }
.el-2028-25 { color: rgb(175,208,181); padding: 2px; margin: 12px; display: flex; }
.el-2028-26 { color: rgb(125,176,173); padding: 5px; margin: 14px; display: flex; }
.el-2028-27 { color: rgb(186,99,179); padding: 1px; margin: 13px; display: flex; }
.el-2028-28 { color: rgb(83,8,214); padding: 9px; margin: 13px; display: flex; }
.el-2028-29 { color: rgb(239,232,208); padding: 4px; margin: 8px; display: flex; }
.el-2028-30 { color: rgb(56,69,29); padding: 7px; margin: 5px; display: flex; }
.el-2028-31 { color: rgb(233,183,229); padding: 9px; margin: 15px; display: flex; }
.el-2028-32 { color: rgb(126,45,15); padding: 18px; margin: 5px; display: flex; }
.el-2028-33 { color: rgb(241,232,244); padding: 7px; margin: 11px; display: flex; }
.el-2028-34 { color: rgb(158,203,134); padding: 27px; margin: 10px; display: flex; }
.el-2028-35 { color: rgb(18,213,184); padding: 11px; margin: 6px; display: flex; }
.el-2028-36 { color: rgb(17,29,246); padding: 14px; margin: 4px; display: flex; }
.el-2028-37 { color: rgb(2,188,109); padding: 2px; margin: 3px; display: flex; }
.el-2028-38 { color: rgb(152,125,102); padding: 3px; margin: 8px; display: flex; }
.el-2028-39 { color: rgb(199,253,165); padding: 11px; margin: 4px; display: flex; }
.el-2028-40 { color: rgb(152,197,203); padding: 5px; margin: 9px; display: flex; }
.el-2028-41 { color: rgb(27,82,139); padding: 30px; margin: 2px; display: flex; }
.el-2028-42 { color: rgb(252,100,32); padding: 7px; margin: 9px; display: flex; }
.el-2028-43 { color: rgb(232,124,126); padding: 6px; margin: 3px; display: flex; }
.el-2028-44 { color: rgb(36,49,78); padding: 13px; margin: 4px; display: flex; }
.el-2028-45 { color: rgb(156,118,91); padding: 12px; margin: 16px; display: flex; }
.el-2028-46 { color: rgb(92,22,25); padding: 6px; margin: 3px; display: flex; }
.el-2028-47 { color: rgb(31,192,21); padding: 7px; margin: 3px; display: flex; }
.el-2028-48 { color: rgb(56,255,199); padding: 11px; margin: 13px; display: flex; }
.el-2028-49 { color: rgb(54,134,228); padding: 15px; margin: 0px; display: flex; }
.el-2028-50 { color: rgb(254,146,148); padding: 28px; margin: 15px; display: flex; }
.el-2028-51 { color: rgb(244,8,75); padding: 14px; margin: 11px; display: flex; }
.el-2028-52 { color: rgb(110,173,99); padding: 7px; margin: 8px; display: flex; }
.el-2028-53 { color: rgb(172,167,197); padding: 6px; margin: 14px; display: flex; }
.el-2028-54 { color: rgb(63,179,162); padding: 20px; margin: 6px; display: flex; }
.el-2028-55 { color: rgb(23,174,243); padding: 17px; margin: 16px; display: flex; }
.el-2028-56 { color: rgb(193,233,66); padding: 28px; margin: 7px; display: flex; }
.el-2028-57 { color: rgb(84,53,213); padding: 1px; margin: 0px; display: flex; }
.el-2028-58 { color: rgb(171,99,3); padding: 6px; margin: 14px; display: flex; }
.el-2028-59 { color: rgb(125,42,234); padding: 25px; margin: 10px; display: flex; }
.el-2028-60 { color: rgb(150,58,219); padding: 25px; margin: 13px; display: flex; }
.el-2028-61 { color: rgb(37,210,222); padding: 20px; margin: 0px; display: flex; }
.el-2028-62 { color: rgb(218,242,63); padding: 16px; margin: 7px; display: flex; }
.el-2028-63 { color: rgb(156,90,237); padding: 14px; margin: 4px; display: flex; }
.el-2028-64 { color: rgb(123,36,102); padding: 25px; margin: 16px; display: flex; }
.el-2028-65 { color: rgb(181,211,236); padding: 17px; margin: 0px; display: flex; }
.el-2028-66 { color: rgb(54,113,146); padding: 21px; margin: 10px; display: flex; }
.el-2028-67 { color: rgb(95,123,228); padding: 30px; margin: 1px; display: flex; }
.el-2028-68 { color: rgb(188,148,229); padding: 1px; margin: 0px; display: flex; }
.el-2028-69 { color: rgb(35,83,49); padding: 10px; margin: 15px; display: flex; }
.el-2028-70 { color: rgb(159,195,18); padding: 26px; margin: 4px; display: flex; }
.el-2028-71 { color: rgb(241,149,208); padding: 14px; margin: 5px; display: flex; }
.el-2028-72 { color: rgb(51,67,108); padding: 2px; margin: 4px; display: flex; }
.el-2028-73 { color: rgb(133,50,165); padding: 18px; margin: 8px; display: flex; }
.el-2028-74 { color: rgb(79,156,215); padding: 10px; margin: 5px; display: flex; }
.el-2028-75 { color: rgb(220,15,208); padding: 13px; margin: 12px; display: flex; }
.el-2028-76 { color: rgb(171,187,113); padding: 31px; margin: 12px; display: flex; }
.el-2028-77 { color: rgb(57,63,114); padding: 17px; margin: 5px; display: flex; }
.el-2028-78 { color: rgb(9,225,248); padding: 7px; margin: 8px; display: flex; }
.el-2028-79 { color: rgb(143,194,56); padding: 4px; margin: 9px; display: flex; }
.el-2028-80 { color: rgb(85,216,145); padding: 10px; margin: 3px; display: flex; }
.el-2028-81 { color: rgb(237,91,32); padding: 16px; margin: 9px; display: flex; }
.el-2028-82 { color: rgb(229,235,203); padding: 24px; margin: 6px; display: flex; }
.el-2028-83 { color: rgb(112,12,187); padding: 17px; margin: 14px; display: flex; }
.el-2028-84 { color: rgb(2,233,171); padding: 23px; margin: 1px; display: flex; }
.el-2028-85 { color: rgb(107,188,58); padding: 17px; margin: 0px; display: flex; }
.el-2028-86 { color: rgb(244,174,167); padding: 23px; margin: 7px; display: flex; }
.el-2028-87 { color: rgb(193,248,47); padding: 32px; margin: 15px; display: flex; }
.el-2028-88 { color: rgb(10,228,168); padding: 18px; margin: 11px; display: flex; }
.el-2028-89 { color: rgb(37,77,160); padding: 27px; margin: 10px; display: flex; }
.el-2028-90 { color: rgb(184,184,233); padding: 12px; margin: 2px; display: flex; }
.el-2028-91 { color: rgb(110,241,123); padding: 18px; margin: 6px; display: flex; }
.el-2028-92 { color: rgb(77,69,163); padding: 27px; margin: 5px; display: flex; }
.el-2028-93 { color: rgb(239,83,129); padding: 4px; margin: 3px; display: flex; }
.el-2028-94 { color: rgb(52,58,55); padding: 29px; margin: 8px; display: flex; }
.el-2028-95 { color: rgb(72,195,146); padding: 18px; margin: 14px; display: flex; }
.el-2028-96 { color: rgb(233,206,70); padding: 29px; margin: 11px; display: flex; }
.el-2028-97 { color: rgb(98,225,191); padding: 12px; margin: 6px; display: flex; }
.el-2028-98 { color: rgb(209,88,81); padding: 24px; margin: 12px; display: flex; }
.el-2028-99 { color: rgb(110,157,197); padding: 6px; margin: 3px; display: flex; }
.el-2028-100 { color: rgb(33,117,153); padding: 5px; margin: 3px; display: flex; }
.el-2028-101 { color: rgb(88,133,111); padding: 15px; margin: 15px; display: flex; }
.el-2028-102 { color: rgb(233,248,191); padding: 25px; margin: 13px; display: flex; }
.el-2028-103 { color: rgb(40,113,185); padding: 18px; margin: 1px; display: flex; }
.el-2028-104 { color: rgb(56,5,93); padding: 31px; margin: 13px; display: flex; }
.el-2028-105 { color: rgb(28,253,8); padding: 11px; margin: 11px; display: flex; }
.el-2028-106 { color: rgb(90,198,3); padding: 28px; margin: 16px; display: flex; }
.el-2028-107 { color: rgb(84,3,117); padding: 7px; margin: 3px; display: flex; }
.el-2028-108 { color: rgb(132,220,26); padding: 15px; margin: 13px; display: flex; }
.el-2028-109 { color: rgb(152,247,216); padding: 29px; margin: 7px; display: flex; }
.el-2028-110 { color: rgb(79,61,246); padding: 32px; margin: 16px; display: flex; }
.el-2028-111 { color: rgb(53,26,136); padding: 25px; margin: 12px; display: flex; }
.el-2028-112 { color: rgb(177,234,212); padding: 19px; margin: 0px; display: flex; }
.el-2028-113 { color: rgb(82,188,20); padding: 29px; margin: 12px; display: flex; }
.el-2028-114 { color: rgb(134,115,109); padding: 10px; margin: 3px; display: flex; }
.el-2028-115 { color: rgb(80,5,239); padding: 24px; margin: 9px; display: flex; }
.el-2028-116 { color: rgb(74,121,206); padding: 32px; margin: 14px; display: flex; }
.el-2028-117 { color: rgb(211,14,69); padding: 4px; margin: 10px; display: flex; }
.el-2028-118 { color: rgb(154,227,44); padding: 9px; margin: 13px; display: flex; }
.el-2028-119 { color: rgb(26,95,111); padding: 24px; margin: 6px; display: flex; }
.el-2028-120 { color: rgb(2,18,8); padding: 30px; margin: 3px; display: flex; }
.el-2028-121 { color: rgb(89,78,100); padding: 12px; margin: 15px; display: flex; }
.el-2028-122 { color: rgb(247,244,215); padding: 14px; margin: 16px; display: flex; }
.el-2028-123 { color: rgb(6,122,32); padding: 31px; margin: 11px; display: flex; }
.el-2028-124 { color: rgb(223,231,30); padding: 27px; margin: 10px; display: flex; }
.el-2028-125 { color: rgb(164,176,234); padding: 6px; margin: 14px; display: flex; }
.el-2028-126 { color: rgb(184,170,172); padding: 10px; margin: 5px; display: flex; }
.el-2028-127 { color: rgb(255,106,15); padding: 24px; margin: 14px; display: flex; }
.el-2028-128 { color: rgb(125,5,174); padding: 13px; margin: 5px; display: flex; }
.el-2028-129 { color: rgb(3,128,58); padding: 24px; margin: 1px; display: flex; }
.el-2028-130 { color: rgb(176,196,29); padding: 15px; margin: 15px; display: flex; }
.el-2028-131 { color: rgb(109,205,50); padding: 18px; margin: 16px; display: flex; }
.el-2028-132 { color: rgb(68,115,39); padding: 11px; margin: 11px; display: flex; }
.el-2028-133 { color: rgb(182,171,192); padding: 7px; margin: 13px; display: flex; }
.el-2028-134 { color: rgb(43,19,185); padding: 1px; margin: 3px; display: flex; }
.el-2028-135 { color: rgb(68,86,208); padding: 10px; margin: 6px; display: flex; }
.el-2028-136 { color: rgb(60,47,212); padding: 10px; margin: 11px; display: flex; }
.el-2028-137 { color: rgb(114,149,45); padding: 20px; margin: 12px; display: flex; }
.el-2028-138 { color: rgb(49,155,58); padding: 18px; margin: 9px; display: flex; }
.el-2028-139 { color: rgb(54,94,159); padding: 7px; margin: 0px; display: flex; }
.el-2028-140 { color: rgb(23,15,120); padding: 17px; margin: 7px; display: flex; }
.el-2028-141 { color: rgb(228,233,112); padding: 12px; margin: 3px; display: flex; }
.el-2028-142 { color: rgb(145,139,26); padding: 2px; margin: 8px; display: flex; }
.el-2028-143 { color: rgb(156,115,188); padding: 25px; margin: 2px; display: flex; }
.el-2028-144 { color: rgb(241,36,254); padding: 30px; margin: 5px; display: flex; }
.el-2028-145 { color: rgb(46,114,159); padding: 4px; margin: 4px; display: flex; }
.el-2028-146 { color: rgb(136,43,74); padding: 5px; margin: 15px; display: flex; }
.el-2028-147 { color: rgb(9,10,150); padding: 18px; margin: 6px; display: flex; }
.el-2028-148 { color: rgb(38,1,99); padding: 19px; margin: 10px; display: flex; }
.el-2028-149 { color: rgb(84,245,60); padding: 18px; margin: 16px; display: flex; }
.el-2028-150 { color: rgb(217,81,60); padding: 17px; margin: 12px; display: flex; }
.el-2028-151 { color: rgb(185,42,157); padding: 22px; margin: 4px; display: flex; }
.el-2028-152 { color: rgb(184,42,73); padding: 8px; margin: 6px; display: flex; }
.el-2028-153 { color: rgb(121,70,92); padding: 8px; margin: 12px; display: flex; }
.el-2028-154 { color: rgb(221,80,237); padding: 28px; margin: 3px; display: flex; }
.el-2028-155 { color: rgb(27,14,65); padding: 15px; margin: 15px; display: flex; }
.el-2028-156 { color: rgb(6,151,217); padding: 15px; margin: 13px; display: flex; }
.el-2028-157 { color: rgb(86,140,128); padding: 6px; margin: 15px; display: flex; }
.el-2028-158 { color: rgb(160,115,141); padding: 25px; margin: 0px; display: flex; }
.el-2028-159 { color: rgb(168,100,5); padding: 26px; margin: 3px; display: flex; }
.el-2028-160 { color: rgb(126,108,102); padding: 10px; margin: 8px; display: flex; }
.el-2028-161 { color: rgb(200,216,118); padding: 16px; margin: 13px; display: flex; }
.el-2028-162 { color: rgb(75,148,135); padding: 25px; margin: 7px; display: flex; }
.el-2028-163 { color: rgb(27,181,164); padding: 3px; margin: 6px; display: flex; }
.el-2028-164 { color: rgb(219,146,91); padding: 16px; margin: 12px; display: flex; }
.el-2028-165 { color: rgb(5,217,36); padding: 19px; margin: 15px; display: flex; }
.el-2028-166 { color: rgb(130,62,251); padding: 20px; margin: 15px; display: flex; }
.el-2028-167 { color: rgb(38,145,19); padding: 23px; margin: 11px; display: flex; }
.el-2028-168 { color: rgb(128,104,103); padding: 8px; margin: 16px; display: flex; }
.el-2028-169 { color: rgb(115,204,196); padding: 32px; margin: 8px; display: flex; }
.el-2028-170 { color: rgb(167,242,241); padding: 31px; margin: 14px; display: flex; }
.el-2028-171 { color: rgb(84,83,34); padding: 15px; margin: 14px; display: flex; }
.el-2028-172 { color: rgb(42,22,158); padding: 6px; margin: 11px; display: flex; }
.el-2028-173 { color: rgb(175,111,180); padding: 1px; margin: 11px; display: flex; }
.el-2028-174 { color: rgb(104,111,20); padding: 1px; margin: 10px; display: flex; }
.el-2028-175 { color: rgb(15,24,155); padding: 26px; margin: 16px; display: flex; }
.el-2028-176 { color: rgb(44,92,79); padding: 28px; margin: 5px; display: flex; }
.el-2028-177 { color: rgb(217,66,165); padding: 14px; margin: 10px; display: flex; }
.el-2028-178 { color: rgb(196,60,155); padding: 19px; margin: 10px; display: flex; }
.el-2028-179 { color: rgb(160,64,150); padding: 5px; margin: 10px; display: flex; }
.el-2028-180 { color: rgb(244,172,229); padding: 13px; margin: 0px; display: flex; }
.el-2028-181 { color: rgb(99,111,208); padding: 31px; margin: 14px; display: flex; }
.el-2028-182 { color: rgb(183,240,157); padding: 21px; margin: 13px; display: flex; }
.el-2028-183 { color: rgb(119,172,108); padding: 28px; margin: 3px; display: flex; }
.el-2028-184 { color: rgb(194,20,156); padding: 29px; margin: 1px; display: flex; }
.el-2028-185 { color: rgb(99,214,169); padding: 25px; margin: 4px; display: flex; }
.el-2028-186 { color: rgb(175,209,201); padding: 13px; margin: 5px; display: flex; }
.el-2028-187 { color: rgb(64,28,216); padding: 3px; margin: 11px; display: flex; }
.el-2028-188 { color: rgb(226,13,161); padding: 30px; margin: 15px; display: flex; }
.el-2028-189 { color: rgb(111,19,76); padding: 16px; margin: 1px; display: flex; }
.el-2028-190 { color: rgb(6,43,12); padding: 20px; margin: 8px; display: flex; }
.el-2028-191 { color: rgb(137,51,24); padding: 18px; margin: 11px; display: flex; }
.el-2028-192 { color: rgb(18,55,200); padding: 22px; margin: 15px; display: flex; }
.el-2028-193 { color: rgb(216,132,163); padding: 9px; margin: 5px; display: flex; }
.el-2028-194 { color: rgb(32,238,234); padding: 14px; margin: 12px; display: flex; }
.el-2028-195 { color: rgb(159,251,89); padding: 25px; margin: 0px; display: flex; }
.el-2028-196 { color: rgb(134,10,132); padding: 6px; margin: 14px; display: flex; }
.el-2028-197 { color: rgb(141,186,62); padding: 13px; margin: 8px; display: flex; }
.el-2028-198 { color: rgb(107,145,210); padding: 1px; margin: 1px; display: flex; }
.el-2028-199 { color: rgb(191,6,210); padding: 30px; margin: 0px; display: flex; }
.el-2028-200 { color: rgb(51,237,186); padding: 7px; margin: 0px; display: flex; }
.el-2028-201 { color: rgb(50,206,15); padding: 16px; margin: 1px; display: flex; }
.el-2028-202 { color: rgb(10,31,48); padding: 26px; margin: 16px; display: flex; }
.el-2028-203 { color: rgb(198,56,67); padding: 19px; margin: 13px; display: flex; }
.el-2028-204 { color: rgb(1,138,52); padding: 29px; margin: 5px; display: flex; }
.el-2028-205 { color: rgb(177,60,235); padding: 16px; margin: 7px; display: flex; }
.el-2028-206 { color: rgb(197,217,30); padding: 8px; margin: 15px; display: flex; }
.el-2028-207 { color: rgb(16,105,205); padding: 5px; margin: 16px; display: flex; }
.el-2028-208 { color: rgb(181,235,163); padding: 12px; margin: 3px; display: flex; }
.el-2028-209 { color: rgb(182,146,182); padding: 2px; margin: 15px; display: flex; }
.el-2028-210 { color: rgb(198,245,169); padding: 28px; margin: 14px; display: flex; }
.el-2028-211 { color: rgb(238,153,185); padding: 14px; margin: 7px; display: flex; }
.el-2028-212 { color: rgb(36,106,73); padding: 29px; margin: 14px; display: flex; }
.el-2028-213 { color: rgb(37,89,114); padding: 30px; margin: 11px; display: flex; }
.el-2028-214 { color: rgb(115,201,46); padding: 6px; margin: 8px; display: flex; }
.el-2028-215 { color: rgb(87,145,29); padding: 26px; margin: 3px; display: flex; }
.el-2028-216 { color: rgb(197,152,127); padding: 18px; margin: 7px; display: flex; }
.el-2028-217 { color: rgb(115,134,56); padding: 10px; margin: 10px; display: flex; }
.el-2028-218 { color: rgb(153,188,86); padding: 32px; margin: 0px; display: flex; }
.el-2028-219 { color: rgb(242,163,94); padding: 32px; margin: 4px; display: flex; }
.el-2028-220 { color: rgb(193,105,175); padding: 28px; margin: 11px; display: flex; }
.el-2028-221 { color: rgb(105,97,134); padding: 6px; margin: 9px; display: flex; }
.el-2028-222 { color: rgb(204,32,97); padding: 4px; margin: 0px; display: flex; }
.el-2028-223 { color: rgb(151,135,156); padding: 13px; margin: 6px; display: flex; }
.el-2028-224 { color: rgb(95,90,32); padding: 14px; margin: 8px; display: flex; }
.el-2028-225 { color: rgb(98,106,184); padding: 30px; margin: 2px; display: flex; }
.el-2028-226 { color: rgb(80,210,203); padding: 5px; margin: 16px; display: flex; }
.el-2028-227 { color: rgb(177,222,75); padding: 8px; margin: 16px; display: flex; }
.el-2028-228 { color: rgb(59,114,225); padding: 4px; margin: 13px; display: flex; }
.el-2028-229 { color: rgb(148,204,159); padding: 3px; margin: 9px; display: flex; }
.el-2028-230 { color: rgb(224,139,35); padding: 31px; margin: 9px; display: flex; }
.el-2028-231 { color: rgb(163,23,132); padding: 2px; margin: 5px; display: flex; }
.el-2028-232 { color: rgb(48,252,190); padding: 2px; margin: 4px; display: flex; }
.el-2028-233 { color: rgb(45,71,111); padding: 4px; margin: 10px; display: flex; }
.el-2028-234 { color: rgb(26,156,79); padding: 31px; margin: 14px; display: flex; }
.el-2028-235 { color: rgb(226,185,168); padding: 23px; margin: 4px; display: flex; }
.el-2028-236 { color: rgb(97,246,71); padding: 21px; margin: 4px; display: flex; }
.el-2028-237 { color: rgb(186,144,23); padding: 18px; margin: 15px; display: flex; }
.el-2028-238 { color: rgb(134,224,79); padding: 23px; margin: 16px; display: flex; }
.el-2028-239 { color: rgb(230,20,109); padding: 25px; margin: 12px; display: flex; }
.el-2028-240 { color: rgb(217,211,242); padding: 1px; margin: 2px; display: flex; }
.el-2028-241 { color: rgb(63,95,156); padding: 6px; margin: 4px; display: flex; }
.el-2028-242 { color: rgb(100,81,1); padding: 14px; margin: 12px; display: flex; }
.el-2028-243 { color: rgb(251,47,3); padding: 23px; margin: 15px; display: flex; }
.el-2028-244 { color: rgb(193,128,74); padding: 26px; margin: 14px; display: flex; }
.el-2028-245 { color: rgb(18,7,255); padding: 11px; margin: 0px; display: flex; }
.el-2028-246 { color: rgb(195,176,147); padding: 14px; margin: 11px; display: flex; }
.el-2028-247 { color: rgb(142,65,84); padding: 30px; margin: 11px; display: flex; }
.el-2028-248 { color: rgb(7,133,190); padding: 21px; margin: 13px; display: flex; }
.el-2028-249 { color: rgb(44,241,135); padding: 12px; margin: 6px; display: flex; }
.el-2028-250 { color: rgb(81,117,244); padding: 9px; margin: 5px; display: flex; }
.el-2028-251 { color: rgb(239,106,194); padding: 11px; margin: 5px; display: flex; }
.el-2028-252 { color: rgb(252,177,214); padding: 1px; margin: 2px; display: flex; }
.el-2028-253 { color: rgb(49,234,230); padding: 20px; margin: 4px; display: flex; }
.el-2028-254 { color: rgb(128,133,145); padding: 27px; margin: 5px; display: flex; }
.el-2028-255 { color: rgb(225,111,151); padding: 10px; margin: 15px; display: flex; }
.el-2028-256 { color: rgb(119,53,222); padding: 32px; margin: 12px; display: flex; }
.el-2028-257 { color: rgb(128,231,3); padding: 27px; margin: 14px; display: flex; }
.el-2028-258 { color: rgb(82,204,219); padding: 4px; margin: 16px; display: flex; }
.el-2028-259 { color: rgb(184,249,128); padding: 28px; margin: 3px; display: flex; }
.el-2028-260 { color: rgb(147,39,122); padding: 27px; margin: 11px; display: flex; }
.el-2028-261 { color: rgb(41,202,107); padding: 31px; margin: 14px; display: flex; }
.el-2028-262 { color: rgb(176,132,25); padding: 15px; margin: 12px; display: flex; }
.el-2028-263 { color: rgb(135,19,86); padding: 25px; margin: 6px; display: flex; }
.el-2028-264 { color: rgb(176,107,177); padding: 6px; margin: 1px; display: flex; }
.el-2028-265 { color: rgb(125,120,103); padding: 17px; margin: 6px; display: flex; }
.el-2028-266 { color: rgb(114,54,190); padding: 20px; margin: 6px; display: flex; }
.el-2028-267 { color: rgb(112,111,98); padding: 22px; margin: 9px; display: flex; }
.el-2028-268 { color: rgb(224,237,27); padding: 7px; margin: 15px; display: flex; }
.el-2028-269 { color: rgb(84,205,28); padding: 32px; margin: 14px; display: flex; }
.el-2028-270 { color: rgb(114,200,91); padding: 22px; margin: 4px; display: flex; }
.el-2028-271 { color: rgb(211,166,235); padding: 11px; margin: 3px; display: flex; }
.el-2028-272 { color: rgb(95,153,51); padding: 14px; margin: 16px; display: flex; }
.el-2028-273 { color: rgb(203,179,61); padding: 10px; margin: 8px; display: flex; }
.el-2028-274 { color: rgb(1,38,127); padding: 7px; margin: 11px; display: flex; }
.el-2028-275 { color: rgb(4,13,66); padding: 6px; margin: 4px; display: flex; }
.el-2028-276 { color: rgb(194,103,219); padding: 31px; margin: 4px; display: flex; }
.el-2028-277 { color: rgb(76,150,196); padding: 9px; margin: 13px; display: flex; }
.el-2028-278 { color: rgb(44,128,21); padding: 8px; margin: 4px; display: flex; }
.el-2028-279 { color: rgb(214,12,46); padding: 25px; margin: 11px; display: flex; }
.el-2028-280 { color: rgb(126,89,185); padding: 16px; margin: 4px; display: flex; }
.el-2028-281 { color: rgb(156,169,234); padding: 14px; margin: 0px; display: flex; }
.el-2028-282 { color: rgb(115,97,233); padding: 23px; margin: 4px; display: flex; }
.el-2028-283 { color: rgb(203,122,206); padding: 32px; margin: 15px; display: flex; }
.el-2028-284 { color: rgb(156,116,187); padding: 5px; margin: 10px; display: flex; }
.el-2028-285 { color: rgb(113,19,109); padding: 5px; margin: 4px; display: flex; }
.el-2028-286 { color: rgb(140,159,113); padding: 17px; margin: 3px; display: flex; }
.el-2028-287 { color: rgb(191,208,96); padding: 30px; margin: 7px; display: flex; }
.el-2028-288 { color: rgb(218,241,152); padding: 19px; margin: 14px; display: flex; }
.el-2028-289 { color: rgb(146,27,197); padding: 29px; margin: 4px; display: flex; }
.el-2028-290 { color: rgb(195,156,143); padding: 10px; margin: 6px; display: flex; }
.el-2028-291 { color: rgb(59,115,160); padding: 7px; margin: 12px; display: flex; }
.el-2028-292 { color: rgb(180,23,129); padding: 17px; margin: 12px; display: flex; }
.el-2028-293 { color: rgb(43,151,40); padding: 19px; margin: 0px; display: flex; }
.el-2028-294 { color: rgb(226,124,2); padding: 21px; margin: 5px; display: flex; }
.el-2028-295 { color: rgb(92,61,167); padding: 7px; margin: 3px; display: flex; }
.el-2028-296 { color: rgb(254,121,206); padding: 5px; margin: 4px; display: flex; }
.el-2028-297 { color: rgb(168,42,132); padding: 30px; margin: 16px; display: flex; }
.el-2028-298 { color: rgb(185,201,126); padding: 14px; margin: 1px; display: flex; }
.el-2028-299 { color: rgb(120,116,47); padding: 17px; margin: 4px; display: flex; }
.el-2028-300 { color: rgb(154,160,248); padding: 4px; margin: 8px; display: flex; }
.el-2028-301 { color: rgb(124,143,201); padding: 20px; margin: 0px; display: flex; }
.el-2028-302 { color: rgb(250,175,207); padding: 13px; margin: 13px; display: flex; }
.el-2028-303 { color: rgb(191,66,137); padding: 8px; margin: 9px; display: flex; }
.el-2028-304 { color: rgb(141,100,26); padding: 17px; margin: 10px; display: flex; }
.el-2028-305 { color: rgb(136,27,127); padding: 31px; margin: 4px; display: flex; }
.el-2028-306 { color: rgb(103,236,220); padding: 11px; margin: 8px; display: flex; }
.el-2028-307 { color: rgb(95,150,249); padding: 30px; margin: 6px; display: flex; }
.el-2028-308 { color: rgb(236,63,73); padding: 16px; margin: 3px; display: flex; }
.el-2028-309 { color: rgb(150,253,208); padding: 1px; margin: 7px; display: flex; }
.el-2028-310 { color: rgb(107,192,183); padding: 14px; margin: 14px; display: flex; }
.el-2028-311 { color: rgb(59,114,76); padding: 30px; margin: 12px; display: flex; }
.el-2028-312 { color: rgb(19,5,107); padding: 28px; margin: 3px; display: flex; }
.el-2028-313 { color: rgb(49,42,245); padding: 13px; margin: 15px; display: flex; }
.el-2028-314 { color: rgb(61,147,54); padding: 13px; margin: 5px; display: flex; }
.el-2028-315 { color: rgb(76,233,229); padding: 1px; margin: 11px; display: flex; }
.el-2028-316 { color: rgb(57,255,71); padding: 23px; margin: 5px; display: flex; }
.el-2028-317 { color: rgb(157,250,146); padding: 31px; margin: 7px; display: flex; }
.el-2028-318 { color: rgb(78,49,115); padding: 24px; margin: 5px; display: flex; }
.el-2028-319 { color: rgb(52,107,19); padding: 18px; margin: 2px; display: flex; }
.el-2028-320 { color: rgb(107,124,27); padding: 8px; margin: 2px; display: flex; }
.el-2028-321 { color: rgb(166,90,28); padding: 3px; margin: 5px; display: flex; }
.el-2028-322 { color: rgb(192,39,39); padding: 32px; margin: 7px; display: flex; }
.el-2028-323 { color: rgb(70,80,198); padding: 29px; margin: 1px; display: flex; }
.el-2028-324 { color: rgb(218,118,227); padding: 17px; margin: 5px; display: flex; }
.el-2028-325 { color: rgb(12,110,73); padding: 30px; margin: 1px; display: flex; }
.el-2028-326 { color: rgb(167,123,44); padding: 29px; margin: 4px; display: flex; }
.el-2028-327 { color: rgb(51,185,68); padding: 23px; margin: 10px; display: flex; }
.el-2028-328 { color: rgb(233,201,137); padding: 12px; margin: 8px; display: flex; }
.el-2028-329 { color: rgb(59,190,27); padding: 32px; margin: 11px; display: flex; }
.el-2028-330 { color: rgb(250,161,43); padding: 12px; margin: 16px; display: flex; }
.el-2028-331 { color: rgb(78,104,21); padding: 26px; margin: 9px; display: flex; }
.el-2028-332 { color: rgb(20,147,120); padding: 16px; margin: 10px; display: flex; }
.el-2028-333 { color: rgb(252,164,55); padding: 10px; margin: 12px; display: flex; }
.el-2028-334 { color: rgb(171,235,192); padding: 15px; margin: 9px; display: flex; }
.el-2028-335 { color: rgb(39,245,218); padding: 10px; margin: 13px; display: flex; }
.el-2028-336 { color: rgb(198,140,233); padding: 6px; margin: 16px; display: flex; }
.el-2028-337 { color: rgb(167,154,167); padding: 1px; margin: 3px; display: flex; }
.el-2028-338 { color: rgb(140,133,73); padding: 6px; margin: 1px; display: flex; }
.el-2028-339 { color: rgb(123,200,79); padding: 11px; margin: 5px; display: flex; }
.el-2028-340 { color: rgb(105,108,69); padding: 30px; margin: 1px; display: flex; }
.el-2028-341 { color: rgb(89,112,185); padding: 11px; margin: 0px; display: flex; }
.el-2028-342 { color: rgb(95,248,121); padding: 25px; margin: 8px; display: flex; }
.el-2028-343 { color: rgb(89,81,200); padding: 22px; margin: 14px; display: flex; }
.el-2028-344 { color: rgb(242,129,46); padding: 1px; margin: 7px; display: flex; }
.el-2028-345 { color: rgb(25,16,208); padding: 15px; margin: 11px; display: flex; }
.el-2028-346 { color: rgb(108,71,112); padding: 28px; margin: 9px; display: flex; }
.el-2028-347 { color: rgb(114,230,227); padding: 13px; margin: 9px; display: flex; }
.el-2028-348 { color: rgb(95,128,239); padding: 11px; margin: 2px; display: flex; }
.el-2028-349 { color: rgb(98,237,109); padding: 1px; margin: 3px; display: flex; }
.el-2028-350 { color: rgb(90,223,104); padding: 2px; margin: 12px; display: flex; }
.el-2028-351 { color: rgb(82,23,253); padding: 13px; margin: 5px; display: flex; }
.el-2028-352 { color: rgb(174,230,3); padding: 21px; margin: 3px; display: flex; }
.el-2028-353 { color: rgb(195,164,63); padding: 6px; margin: 14px; display: flex; }
.el-2028-354 { color: rgb(215,106,155); padding: 9px; margin: 2px; display: flex; }
.el-2028-355 { color: rgb(201,20,21); padding: 13px; margin: 4px; display: flex; }
.el-2028-356 { color: rgb(228,253,116); padding: 20px; margin: 7px; display: flex; }
.el-2028-357 { color: rgb(37,96,73); padding: 8px; margin: 13px; display: flex; }
.el-2028-358 { color: rgb(218,233,71); padding: 27px; margin: 10px; display: flex; }
.el-2028-359 { color: rgb(228,148,19); padding: 25px; margin: 13px; display: flex; }
.el-2028-360 { color: rgb(231,210,210); padding: 13px; margin: 13px; display: flex; }
.el-2028-361 { color: rgb(96,89,229); padding: 13px; margin: 14px; display: flex; }
.el-2028-362 { color: rgb(141,225,18); padding: 23px; margin: 1px; display: flex; }
.el-2028-363 { color: rgb(21,53,66); padding: 4px; margin: 9px; display: flex; }
.el-2028-364 { color: rgb(208,210,153); padding: 18px; margin: 8px; display: flex; }
.el-2028-365 { color: rgb(124,11,22); padding: 22px; margin: 15px; display: flex; }
.el-2028-366 { color: rgb(87,161,230); padding: 18px; margin: 15px; display: flex; }
.el-2028-367 { color: rgb(15,37,71); padding: 18px; margin: 5px; display: flex; }
.el-2028-368 { color: rgb(87,150,51); padding: 20px; margin: 8px; display: flex; }
.el-2028-369 { color: rgb(24,253,65); padding: 28px; margin: 12px; display: flex; }
.el-2028-370 { color: rgb(4,128,10); padding: 12px; margin: 2px; display: flex; }
.el-2028-371 { color: rgb(87,149,80); padding: 8px; margin: 6px; display: flex; }
.el-2028-372 { color: rgb(12,164,7); padding: 7px; margin: 11px; display: flex; }
.el-2028-373 { color: rgb(166,66,216); padding: 4px; margin: 4px; display: flex; }
.el-2028-374 { color: rgb(205,131,6); padding: 28px; margin: 9px; display: flex; }
.el-2028-375 { color: rgb(194,83,157); padding: 20px; margin: 7px; display: flex; }
.el-2028-376 { color: rgb(77,72,166); padding: 28px; margin: 7px; display: flex; }
.el-2028-377 { color: rgb(244,189,177); padding: 20px; margin: 0px; display: flex; }
.el-2028-378 { color: rgb(126,65,95); padding: 15px; margin: 12px; display: flex; }
.el-2028-379 { color: rgb(182,46,140); padding: 15px; margin: 15px; display: flex; }
.el-2028-380 { color: rgb(127,38,79); padding: 30px; margin: 1px; display: flex; }
.el-2028-381 { color: rgb(56,42,220); padding: 21px; margin: 6px; display: flex; }
.el-2028-382 { color: rgb(137,77,53); padding: 2px; margin: 3px; display: flex; }
.el-2028-383 { color: rgb(155,224,187); padding: 11px; margin: 16px; display: flex; }
.el-2028-384 { color: rgb(44,82,120); padding: 32px; margin: 2px; display: flex; }
.el-2028-385 { color: rgb(221,100,48); padding: 13px; margin: 11px; display: flex; }
.el-2028-386 { color: rgb(159,165,130); padding: 26px; margin: 13px; display: flex; }
.el-2028-387 { color: rgb(220,231,218); padding: 29px; margin: 12px; display: flex; }
.el-2028-388 { color: rgb(123,49,130); padding: 6px; margin: 6px; display: flex; }
.el-2028-389 { color: rgb(135,178,40); padding: 16px; margin: 10px; display: flex; }
.el-2028-390 { color: rgb(71,215,35); padding: 9px; margin: 8px; display: flex; }
.el-2028-391 { color: rgb(15,173,214); padding: 27px; margin: 1px; display: flex; }
.el-2028-392 { color: rgb(212,76,83); padding: 30px; margin: 3px; display: flex; }
.el-2028-393 { color: rgb(21,8,184); padding: 17px; margin: 1px; display: flex; }
.el-2028-394 { color: rgb(23,202,20); padding: 18px; margin: 5px; display: flex; }
.el-2028-395 { color: rgb(185,165,88); padding: 25px; margin: 8px; display: flex; }
.el-2028-396 { color: rgb(147,59,148); padding: 21px; margin: 9px; display: flex; }
.el-2028-397 { color: rgb(55,207,139); padding: 4px; margin: 2px; display: flex; }
.el-2028-398 { color: rgb(218,98,61); padding: 27px; margin: 2px; display: flex; }
.el-2028-399 { color: rgb(115,124,160); padding: 16px; margin: 3px; display: flex; }
.el-2028-400 { color: rgb(102,116,37); padding: 32px; margin: 12px; display: flex; }
.el-2028-401 { color: rgb(76,60,30); padding: 1px; margin: 4px; display: flex; }
.el-2028-402 { color: rgb(84,108,25); padding: 10px; margin: 12px; display: flex; }
.el-2028-403 { color: rgb(232,175,67); padding: 32px; margin: 13px; display: flex; }
.el-2028-404 { color: rgb(250,204,40); padding: 31px; margin: 16px; display: flex; }
.el-2028-405 { color: rgb(111,232,119); padding: 9px; margin: 11px; display: flex; }
.el-2028-406 { color: rgb(242,214,46); padding: 10px; margin: 3px; display: flex; }
.el-2028-407 { color: rgb(166,62,103); padding: 10px; margin: 10px; display: flex; }
.el-2028-408 { color: rgb(27,221,248); padding: 12px; margin: 14px; display: flex; }
.el-2028-409 { color: rgb(134,12,6); padding: 20px; margin: 13px; display: flex; }
.el-2028-410 { color: rgb(195,153,255); padding: 6px; margin: 0px; display: flex; }
.el-2028-411 { color: rgb(131,45,153); padding: 3px; margin: 15px; display: flex; }
.el-2028-412 { color: rgb(149,77,255); padding: 20px; margin: 16px; display: flex; }
.el-2028-413 { color: rgb(251,65,143); padding: 4px; margin: 14px; display: flex; }
.el-2028-414 { color: rgb(44,149,55); padding: 31px; margin: 10px; display: flex; }
.el-2028-415 { color: rgb(195,63,154); padding: 32px; margin: 0px; display: flex; }
.el-2028-416 { color: rgb(75,13,84); padding: 8px; margin: 5px; display: flex; }
.el-2028-417 { color: rgb(141,147,179); padding: 6px; margin: 8px; display: flex; }
.el-2028-418 { color: rgb(82,81,205); padding: 14px; margin: 16px; display: flex; }
.el-2028-419 { color: rgb(197,49,69); padding: 1px; margin: 13px; display: flex; }
.el-2028-420 { color: rgb(0,104,94); padding: 4px; margin: 15px; display: flex; }
.el-2028-421 { color: rgb(8,231,41); padding: 10px; margin: 16px; display: flex; }
.el-2028-422 { color: rgb(49,133,182); padding: 10px; margin: 13px; display: flex; }
.el-2028-423 { color: rgb(68,22,167); padding: 17px; margin: 4px; display: flex; }
.el-2028-424 { color: rgb(159,161,57); padding: 24px; margin: 4px; display: flex; }
.el-2028-425 { color: rgb(61,63,65); padding: 24px; margin: 6px; display: flex; }
.el-2028-426 { color: rgb(64,37,167); padding: 20px; margin: 12px; display: flex; }
.el-2028-427 { color: rgb(121,159,124); padding: 24px; margin: 0px; display: flex; }
.el-2028-428 { color: rgb(188,47,249); padding: 5px; margin: 16px; display: flex; }
.el-2028-429 { color: rgb(42,38,18); padding: 28px; margin: 7px; display: flex; }
.el-2028-430 { color: rgb(209,230,111); padding: 9px; margin: 1px; display: flex; }
.el-2028-431 { color: rgb(164,9,35); padding: 27px; margin: 11px; display: flex; }
.el-2028-432 { color: rgb(220,74,20); padding: 1px; margin: 14px; display: flex; }
.el-2028-433 { color: rgb(234,192,20); padding: 21px; margin: 10px; display: flex; }
.el-2028-434 { color: rgb(237,248,225); padding: 23px; margin: 0px; display: flex; }
.el-2028-435 { color: rgb(55,26,244); padding: 26px; margin: 13px; display: flex; }
.el-2028-436 { color: rgb(177,2,167); padding: 32px; margin: 13px; display: flex; }
.el-2028-437 { color: rgb(138,16,244); padding: 27px; margin: 10px; display: flex; }
.el-2028-438 { color: rgb(254,240,23); padding: 27px; margin: 12px; display: flex; }
.el-2028-439 { color: rgb(129,222,146); padding: 1px; margin: 7px; display: flex; }
.el-2028-440 { color: rgb(254,247,238); padding: 12px; margin: 13px; display: flex; }
.el-2028-441 { color: rgb(95,89,48); padding: 4px; margin: 5px; display: flex; }
.el-2028-442 { color: rgb(46,24,17); padding: 26px; margin: 2px; display: flex; }
.el-2028-443 { color: rgb(166,248,16); padding: 8px; margin: 4px; display: flex; }
.el-2028-444 { color: rgb(169,119,221); padding: 12px; margin: 10px; display: flex; }
.el-2028-445 { color: rgb(224,120,200); padding: 20px; margin: 14px; display: flex; }
.el-2028-446 { color: rgb(161,119,194); padding: 18px; margin: 6px; display: flex; }
.el-2028-447 { color: rgb(0,10,49); padding: 29px; margin: 9px; display: flex; }
.el-2028-448 { color: rgb(102,118,60); padding: 7px; margin: 0px; display: flex; }
.el-2028-449 { color: rgb(85,158,15); padding: 11px; margin: 1px; display: flex; }
.el-2028-450 { color: rgb(39,187,212); padding: 14px; margin: 12px; display: flex; }
.el-2028-451 { color: rgb(206,162,150); padding: 10px; margin: 16px; display: flex; }
.el-2028-452 { color: rgb(157,32,150); padding: 23px; margin: 14px; display: flex; }
.el-2028-453 { color: rgb(133,12,248); padding: 5px; margin: 5px; display: flex; }
.el-2028-454 { color: rgb(202,146,70); padding: 15px; margin: 4px; display: flex; }
.el-2028-455 { color: rgb(74,6,91); padding: 27px; margin: 11px; display: flex; }
.el-2028-456 { color: rgb(232,215,213); padding: 27px; margin: 13px; display: flex; }
.el-2028-457 { color: rgb(215,51,169); padding: 3px; margin: 16px; display: flex; }
.el-2028-458 { color: rgb(60,83,231); padding: 9px; margin: 7px; display: flex; }
.el-2028-459 { color: rgb(204,168,202); padding: 13px; margin: 15px; display: flex; }
.el-2028-460 { color: rgb(32,5,145); padding: 32px; margin: 7px; display: flex; }
.el-2028-461 { color: rgb(132,175,17); padding: 23px; margin: 3px; display: flex; }
.el-2028-462 { color: rgb(77,16,106); padding: 11px; margin: 2px; display: flex; }
.el-2028-463 { color: rgb(167,41,171); padding: 28px; margin: 9px; display: flex; }
.el-2028-464 { color: rgb(25,249,129); padding: 6px; margin: 9px; display: flex; }
.el-2028-465 { color: rgb(209,184,106); padding: 4px; margin: 0px; display: flex; }
.el-2028-466 { color: rgb(208,34,147); padding: 24px; margin: 11px; display: flex; }
.el-2028-467 { color: rgb(2,196,145); padding: 14px; margin: 11px; display: flex; }
.el-2028-468 { color: rgb(238,38,178); padding: 13px; margin: 3px; display: flex; }
.el-2028-469 { color: rgb(134,127,142); padding: 21px; margin: 16px; display: flex; }
.el-2028-470 { color: rgb(44,212,119); padding: 28px; margin: 11px; display: flex; }
.el-2028-471 { color: rgb(41,4,19); padding: 31px; margin: 8px; display: flex; }
.el-2028-472 { color: rgb(166,161,238); padding: 9px; margin: 7px; display: flex; }
.el-2028-473 { color: rgb(192,72,119); padding: 30px; margin: 14px; display: flex; }
.el-2028-474 { color: rgb(252,174,160); padding: 17px; margin: 6px; display: flex; }
.el-2028-475 { color: rgb(249,184,182); padding: 16px; margin: 1px; display: flex; }
.el-2028-476 { color: rgb(111,65,221); padding: 10px; margin: 14px; display: flex; }
.el-2028-477 { color: rgb(196,7,121); padding: 14px; margin: 9px; display: flex; }
.el-2028-478 { color: rgb(226,24,174); padding: 1px; margin: 10px; display: flex; }
.el-2028-479 { color: rgb(42,196,194); padding: 16px; margin: 13px; display: flex; }
.el-2028-480 { color: rgb(217,203,180); padding: 4px; margin: 15px; display: flex; }
.el-2028-481 { color: rgb(159,30,91); padding: 25px; margin: 11px; display: flex; }
.el-2028-482 { color: rgb(108,72,39); padding: 15px; margin: 14px; display: flex; }
.el-2028-483 { color: rgb(113,115,216); padding: 7px; margin: 9px; display: flex; }
.el-2028-484 { color: rgb(52,206,216); padding: 27px; margin: 4px; display: flex; }
.el-2028-485 { color: rgb(210,167,169); padding: 24px; margin: 5px; display: flex; }
.el-2028-486 { color: rgb(251,51,51); padding: 18px; margin: 8px; display: flex; }
.el-2028-487 { color: rgb(74,71,7); padding: 19px; margin: 2px; display: flex; }
.el-2028-488 { color: rgb(235,199,98); padding: 9px; margin: 2px; display: flex; }
.el-2028-489 { color: rgb(242,104,181); padding: 25px; margin: 12px; display: flex; }