/* Generated CSS #2027 */
.el-2027-0 { color: rgb(55,237,40); padding: 1px; margin: 10px; display: flex; }
.el-2027-1 { color: rgb(207,93,204); padding: 12px; margin: 11px; display: flex; }
.el-2027-2 { color: rgb(91,141,147); padding: 5px; margin: 10px; display: flex; }
.el-2027-3 { color: rgb(154,34,130); padding: 17px; margin: 13px; display: flex; }
.el-2027-4 { color: rgb(116,80,172); padding: 23px; margin: 7px; display: flex; }
.el-2027-5 { color: rgb(203,232,195); padding: 11px; margin: 14px; display: flex; }
.el-2027-6 { color: rgb(191,161,63); padding: 13px; margin: 1px; display: flex; }
.el-2027-7 { color: rgb(166,243,132); padding: 7px; margin: 8px; display: flex; }
.el-2027-8 { color: rgb(212,197,45); padding: 12px; margin: 8px; display: flex; }
.el-2027-9 { color: rgb(37,40,214); padding: 5px; margin: 15px; display: flex; }
.el-2027-10 { color: rgb(117,111,18); padding: 8px; margin: 9px; display: flex; }
.el-2027-11 { color: rgb(46,14,61); padding: 9px; margin: 10px; display: flex; }
.el-2027-12 { color: rgb(231,7,66); padding: 2px; margin: 0px; display: flex; }
.el-2027-13 { color: rgb(171,190,146); padding: 25px; margin: 15px; display: flex; }
.el-2027-14 { color: rgb(236,105,194); padding: 30px; margin: 5px; display: flex; }
.el-2027-15 { color: rgb(244,137,123); padding: 2px; margin: 15px; display: flex; }
.el-2027-16 { color: rgb(133,78,109); padding: 24px; margin: 7px; display: flex; }
.el-2027-17 { color: rgb(49,46,159); padding: 32px; margin: 13px; display: flex; }
.el-2027-18 { color: rgb(71,130,227); padding: 9px; margin: 8px; display: flex; }
.el-2027-19 { color: rgb(219,138,182); padding: 16px; margin: 16px; display: flex; }
.el-2027-20 { color: rgb(210,13,101); padding: 30px; margin: 4px; display: flex; }
.el-2027-21 { color: rgb(148,87,77); padding: 26px; margin: 9px; display: flex; }
.el-2027-22 { color: rgb(105,131,183); padding: 13px; margin: 12px; display: flex; }
.el-2027-23 { color: rgb(130,149,138); padding: 13px; margin: 3px; display: flex; }
.el-2027-24 { color: rgb(52,115,129); padding: 27px; margin: 2px; display: flex; }
.el-2027-25 { color: rgb(7,238,20); padding: 9px; margin: 0px; display: flex; }
.el-2027-26 { color: rgb(206,108,158); padding: 18px; margin: 12px; display: flex; }
.el-2027-27 { color: rgb(63,42,213); padding: 17px; margin: 2px; display: flex; }
.el-2027-28 { color: rgb(101,197,160); padding: 13px; margin: 4px; display: flex; }
.el-2027-29 { color: rgb(43,87,170); padding: 27px; margin: 12px; display: flex; }
.el-2027-30 { color: rgb(68,24,93); padding: 1px; margin: 14px; display: flex; }
.el-2027-31 { color: rgb(169,102,88); padding: 19px; margin: 3px; display: flex; }
.el-2027-32 { color: rgb(107,238,97); padding: 16px; margin: 2px; display: flex; }
.el-2027-33 { color: rgb(171,98,51); padding: 12px; margin: 15px; display: flex; }
.el-2027-34 { color: rgb(74,65,254); padding: 5px; margin: 12px; display: flex; }
.el-2027-35 { color: rgb(124,30,232); padding: 10px; margin: 5px; display: flex; }
.el-2027-36 { color: rgb(234,247,96); padding: 6px; margin: 6px; display: flex; }
.el-2027-37 { color: rgb(151,34,115); padding: 14px; margin: 14px; display: flex; }
.el-2027-38 { color: rgb(8,86,197); padding: 19px; margin: 14px; display: flex; }
.el-2027-39 { color: rgb(25,99,198); padding: 11px; margin: 6px; display: flex; }
.el-2027-40 { color: rgb(135,42,130); padding: 3px; margin: 13px; display: flex; }
.el-2027-41 { color: rgb(72,137,136); padding: 27px; margin: 15px; display: flex; }
.el-2027-42 { color: rgb(150,69,83); padding: 10px; margin: 0px; display: flex; }
.el-2027-43 { color: rgb(29,18,87); padding: 7px; margin: 16px; display: flex; }
.el-2027-44 { color: rgb(79,129,254); padding: 12px; margin: 15px; display: flex; }
.el-2027-45 { color: rgb(187,102,164); padding: 12px; margin: 9px; display: flex; }
.el-2027-46 { color: rgb(230,188,28); padding: 5px; margin: 11px; display: flex; }
.el-2027-47 { color: rgb(130,234,235); padding: 29px; margin: 1px; display: flex; }
.el-2027-48 { color: rgb(170,84,209); padding: 14px; margin: 14px; display: flex; }
.el-2027-49 { color: rgb(211,181,249); padding: 29px; margin: 8px; display: flex; }
.el-2027-50 { color: rgb(184,172,60); padding: 6px; margin: 1px; display: flex; }
.el-2027-51 { color: rgb(43,63,225); padding: 29px; margin: 2px; display: flex; }
.el-2027-52 { color: rgb(103,248,247); padding: 1px; margin: 2px; display: flex; }
.el-2027-53 { color: rgb(95,154,139); padding: 26px; margin: 9px; display: flex; }
.el-2027-54 { color: rgb(159,194,35); padding: 24px; margin: 13px; display: flex; }
.el-2027-55 { color: rgb(176,202,200); padding: 17px; margin: 1px; display: flex; }
.el-2027-56 { color: rgb(67,254,181); padding: 6px; margin: 11px; display: flex; }
.el-2027-57 { color: rgb(1,223,70); padding: 2px; margin: 3px; display: flex; }
.el-2027-58 { color: rgb(50,69,90); padding: 16px; margin: 15px; display: flex; }
.el-2027-59 { color: rgb(60,252,51); padding: 24px; margin: 0px; display: flex; }
.el-2027-60 { color: rgb(195,3,248); padding: 11px; margin: 11px; display: flex; }
.el-2027-61 { color: rgb(224,186,64); padding: 31px; margin: 16px; display: flex; }
.el-2027-62 { color: rgb(100,249,88); padding: 28px; margin: 3px; display: flex; }
.el-2027-63 { color: rgb(15,237,235); padding: 13px; margin: 12px; display: flex; }
.el-2027-64 { color: rgb(197,200,255); padding: 25px; margin: 10px; display: flex; }
.el-2027-65 { color: rgb(171,8,20); padding: 11px; margin: 5px; display: flex; }