/* Generated CSS #2020 */
.el-2020-0 { color: rgb(89,236,226); padding: 31px; margin: 11px; display: flex; }
.el-2020-1 { color: rgb(214,81,46); padding: 30px; margin: 7px; display: flex; }
.el-2020-2 { color: rgb(107,209,105); padding: 10px; margin: 15px; display: flex; }
.el-2020-3 { color: rgb(231,53,82); padding: 32px; margin: 15px; display: flex; }
.el-2020-4 { color: rgb(20,226,25); padding: 23px; margin: 6px; display: flex; }
.el-2020-5 { color: rgb(62,47,134); padding: 10px; margin: 0px; display: flex; }
.el-2020-6 { color: rgb(153,237,121); padding: 20px; margin: 16px; display: flex; }
.el-2020-7 { color: rgb(235,125,20); padding: 16px; margin: 7px; display: flex; }
.el-2020-8 { color: rgb(150,151,65); padding: 28px; margin: 12px; display: flex; }
.el-2020-9 { color: rgb(148,82,230); padding: 23px; margin: 3px; display: flex; }
.el-2020-10 { color: rgb(45,120,122); padding: 3px; margin: 16px; display: flex; }
.el-2020-11 { color: rgb(50,71,29); padding: 23px; margin: 7px; display: flex; }
.el-2020-12 { color: rgb(234,53,217); padding: 15px; margin: 15px; display: flex; }
.el-2020-13 { color: rgb(173,226,41); padding: 13px; margin: 10px; display: flex; }
.el-2020-14 { color: rgb(178,14,244); padding: 26px; margin: 12px; display: flex; }
.el-2020-15 { color: rgb(129,34,161); padding: 8px; margin: 15px; display: flex; }
.el-2020-16 { color: rgb(202,187,116); padding: 2px; margin: 12px; display: flex; }
.el-2020-17 { color: rgb(63,142,169); padding: 29px; margin: 11px; display: flex; }
.el-2020-18 { color: rgb(46,65,210); padding: 2px; margin: 0px; display: flex; }
.el-2020-19 { color: rgb(255,72,199); padding: 2px; margin: 2px; display: flex; }
.el-2020-20 { color: rgb(102,51,143); padding: 30px; margin: 8px; display: flex; }
.el-2020-21 { color: rgb(84,217,123); padding: 1px; margin: 14px; display: flex; }
.el-2020-22 { color: rgb(178,44,124); padding: 29px; margin: 9px; display: flex; }
.el-2020-23 { color: rgb(196,99,204); padding: 25px; margin: 15px; display: flex; }
.el-2020-24 { color: rgb(115,71,180); padding: 5px; margin: 14px; display: flex; }
.el-2020-25 { color: rgb(201,252,205); padding: 20px; margin: 2px; display: flex; }
.el-2020-26 { color: rgb(222,227,164); padding: 24px; margin: 6px; display: flex; }
.el-2020-27 { color: rgb(76,224,227); padding: 18px; margin: 13px; display: flex; }
.el-2020-28 { color: rgb(162,190,242); padding: 19px; margin: 14px; display: flex; }
.el-2020-29 { color: rgb(187,109,164); padding: 31px; margin: 12px; display: flex; }
.el-2020-30 { color: rgb(44,126,167); padding: 25px; margin: 13px; display: flex; }
.el-2020-31 { color: rgb(185,136,230); padding: 22px; margin: 0px; display: flex; }
.el-2020-32 { color: rgb(70,28,236); padding: 1px; margin: 12px; display: flex; }
.el-2020-33 { color: rgb(93,121,168); padding: 29px; margin: 4px; display: flex; }
.el-2020-34 { color: rgb(229,177,197); padding: 14px; margin: 10px; display: flex; }
.el-2020-35 { color: rgb(129,16,223); padding: 19px; margin: 15px; display: flex; }
.el-2020-36 { color: rgb(63,114,220); padding: 12px; margin: 16px; display: flex; }
.el-2020-37 { color: rgb(247,208,193); padding: 11px; margin: 8px; display: flex; }
.el-2020-38 { color: rgb(91,54,142); padding: 2px; margin: 14px; display: flex; }
.el-2020-39 { color: rgb(171,213,55); padding: 10px; margin: 0px; display: flex; }
.el-2020-40 { color: rgb(116,68,129); padding: 11px; margin: 13px; display: flex; }
.el-2020-41 { color: rgb(155,46,208); padding: 14px; margin: 7px; display: flex; }
.el-2020-42 { color: rgb(233,75,181); padding: 29px; margin: 15px; display: flex; }
.el-2020-43 { color: rgb(132,87,24); padding: 20px; margin: 6px; display: flex; }
.el-2020-44 { color: rgb(151,32,133); padding: 25px; margin: 12px; display: flex; }
.el-2020-45 { color: rgb(10,231,171); padding: 26px; margin: 15px; display: flex; }
.el-2020-46 { color: rgb(51,88,183); padding: 28px; margin: 9px; display: flex; }
.el-2020-47 { color: rgb(147,148,155); padding: 1px; margin: 2px; display: flex; }
.el-2020-48 { color: rgb(138,197,171); padding: 5px; margin: 11px; display: flex; }
.el-2020-49 { color: rgb(91,23,62); padding: 19px; margin: 13px; display: flex; }
.el-2020-50 { color: rgb(0,114,251); padding: 21px; margin: 10px; display: flex; }
.el-2020-51 { color: rgb(4,86,194); padding: 6px; margin: 1px; display: flex; }
.el-2020-52 { color: rgb(92,238,84); padding: 19px; margin: 0px; display: flex; }