/* Generated CSS #2024 */
.el-2024-0 { color: rgb(240,93,155); padding: 13px; margin: 13px; display: flex; }
.el-2024-1 { color: rgb(135,125,255); padding: 23px; margin: 13px; display: flex; }
.el-2024-2 { color: rgb(111,158,169); padding: 5px; margin: 6px; display: flex; }
.el-2024-3 { color: rgb(239,75,108); padding: 27px; margin: 1px; display: flex; }
.el-2024-4 { color: rgb(178,213,238); padding: 8px; margin: 4px; display: flex; }
.el-2024-5 { color: rgb(167,199,169); padding: 23px; margin: 6px; display: flex; }
.el-2024-6 { color: rgb(166,218,212); padding: 21px; margin: 6px; display: flex; }
.el-2024-7 { color: rgb(208,117,104); padding: 3px; margin: 7px; display: flex; }
.el-2024-8 { color: rgb(9,132,163); padding: 27px; margin: 3px; display: flex; }
.el-2024-9 { color: rgb(169,118,120); padding: 30px; margin: 11px; display: flex; }
.el-2024-10 { color: rgb(69,103,188); padding: 32px; margin: 4px; display: flex; }
.el-2024-11 { color: rgb(134,198,172); padding: 22px; margin: 14px; display: flex; }
.el-2024-12 { color: rgb(86,67,169); padding: 14px; margin: 2px; display: flex; }
.el-2024-13 { color: rgb(50,88,2); padding: 10px; margin: 14px; display: flex; }
.el-2024-14 { color: rgb(120,179,117); padding: 6px; margin: 6px; display: flex; }
.el-2024-15 { color: rgb(145,122,236); padding: 17px; margin: 15px; display: flex; }
.el-2024-16 { color: rgb(223,212,102); padding: 5px; margin: 9px; display: flex; }
.el-2024-17 { color: rgb(154,142,69); padding: 17px; margin: 16px; display: flex; }
.el-2024-18 { color: rgb(51,253,111); padding: 13px; margin: 12px; display: flex; }
.el-2024-19 { color: rgb(90,114,163); padding: 23px; margin: 1px; display: flex; }
.el-2024-20 { color: rgb(193,37,60); padding: 15px; margin: 1px; display: flex; }
.el-2024-21 { color: rgb(64,107,44); padding: 12px; margin: 7px; display: flex; }
.el-2024-22 { color: rgb(249,84,82); padding: 6px; margin: 4px; display: flex; }
.el-2024-23 { color: rgb(53,15,55); padding: 12px; margin: 10px; display: flex; }
.el-2024-24 { color: rgb(0,62,143); padding: 2px; margin: 5px; display: flex; }
.el-2024-25 { color: rgb(31,53,107); padding: 14px; margin: 6px; display: flex; }
.el-2024-26 { color: rgb(236,95,242); padding: 21px; margin: 8px; display: flex; }
.el-2024-27 { color: rgb(232,224,111); padding: 26px; margin: 14px; display: flex; }
.el-2024-28 { color: rgb(214,68,107); padding: 11px; margin: 9px; display: flex; }
.el-2024-29 { color: rgb(203,100,91); padding: 23px; margin: 14px; display: flex; }
.el-2024-30 { color: rgb(7,61,171); padding: 1px; margin: 7px; display: flex; }
.el-2024-31 { color: rgb(214,19,109); padding: 30px; margin: 15px; display: flex; }
.el-2024-32 { color: rgb(25,220,170); padding: 1px; margin: 16px; display: flex; }
.el-2024-33 { color: rgb(174,130,80); padding: 15px; margin: 3px; display: flex; }
.el-2024-34 { color: rgb(220,34,68); padding: 12px; margin: 0px; display: flex; }
.el-2024-35 { color: rgb(173,157,129); padding: 32px; margin: 5px; display: flex; }
.el-2024-36 { color: rgb(185,238,222); padding: 32px; margin: 10px; display: flex; }
.el-2024-37 { color: rgb(81,19,62); padding: 8px; margin: 11px; display: flex; }
.el-2024-38 { color: rgb(217,92,48); padding: 4px; margin: 13px; display: flex; }
.el-2024-39 { color: rgb(13,139,118); padding: 8px; margin: 10px; display: flex; }
.el-2024-40 { color: rgb(70,108,55); padding: 28px; margin: 3px; display: flex; }
.el-2024-41 { color: rgb(136,222,81); padding: 15px; margin: 0px; display: flex; }
.el-2024-42 { color: rgb(63,101,193); padding: 27px; margin: 14px; display: flex; }
.el-2024-43 { color: rgb(88,126,149); padding: 18px; margin: 11px; display: flex; }
.el-2024-44 { color: rgb(230,57,207); padding: 26px; margin: 9px; display: flex; }
.el-2024-45 { color: rgb(162,116,121); padding: 23px; margin: 7px; display: flex; }
.el-2024-46 { color: rgb(215,239,158); padding: 19px; margin: 6px; display: flex; }
.el-2024-47 { color: rgb(239,27,129); padding: 25px; margin: 6px; display: flex; }
.el-2024-48 { color: rgb(134,211,68); padding: 21px; margin: 9px; display: flex; }
.el-2024-49 { color: rgb(68,47,112); padding: 30px; margin: 8px; display: flex; }
.el-2024-50 { color: rgb(151,126,199); padding: 19px; margin: 5px; display: flex; }
.el-2024-51 { color: rgb(245,186,15); padding: 25px; margin: 2px; display: flex; }
.el-2024-52 { color: rgb(68,51,216); padding: 21px; margin: 6px; display: flex; }
.el-2024-53 { color: rgb(38,130,16); padding: 17px; margin: 16px; display: flex; }
.el-2024-54 { color: rgb(96,222,85); padding: 13px; margin: 15px; display: flex; }
.el-2024-55 { color: rgb(136,35,236); padding: 8px; margin: 3px; display: flex; }
.el-2024-56 { color: rgb(137,66,197); padding: 7px; margin: 7px; display: flex; }
.el-2024-57 { color: rgb(120,84,151); padding: 9px; margin: 12px; display: flex; }
.el-2024-58 { color: rgb(55,66,173); padding: 27px; margin: 10px; display: flex; }
.el-2024-59 { color: rgb(170,120,10); padding: 18px; margin: 12px; display: flex; }
.el-2024-60 { color: rgb(71,136,87); padding: 17px; margin: 6px; display: flex; }
.el-2024-61 { color: rgb(67,219,97); padding: 9px; margin: 4px; display: flex; }
.el-2024-62 { color: rgb(118,129,12); padding: 8px; margin: 13px; display: flex; }
.el-2024-63 { color: rgb(215,17,243); padding: 10px; margin: 8px; display: flex; }
.el-2024-64 { color: rgb(184,236,177); padding: 19px; margin: 15px; display: flex; }
.el-2024-65 { color: rgb(229,16,145); padding: 12px; margin: 12px; display: flex; }
.el-2024-66 { color: rgb(253,184,248); padding: 24px; margin: 5px; display: flex; }
.el-2024-67 { color: rgb(33,137,100); padding: 12px; margin: 14px; display: flex; }
.el-2024-68 { color: rgb(238,167,3); padding: 10px; margin: 3px; display: flex; }
.el-2024-69 { color: rgb(216,25,144); padding: 6px; margin: 2px; display: flex; }
.el-2024-70 { color: rgb(245,236,107); padding: 15px; margin: 10px; display: flex; }
.el-2024-71 { color: rgb(154,249,150); padding: 4px; margin: 6px; display: flex; }
.el-2024-72 { color: rgb(242,125,158); padding: 21px; margin: 8px; display: flex; }
.el-2024-73 { color: rgb(168,20,71); padding: 17px; margin: 11px; display: flex; }
.el-2024-74 { color: rgb(176,77,27); padding: 23px; margin: 0px; display: flex; }
.el-2024-75 { color: rgb(161,161,100); padding: 12px; margin: 9px; display: flex; }
.el-2024-76 { color: rgb(232,25,81); padding: 7px; margin: 15px; display: flex; }
.el-2024-77 { color: rgb(134,201,27); padding: 27px; margin: 6px; display: flex; }
.el-2024-78 { color: rgb(68,68,186); padding: 1px; margin: 14px; display: flex; }
.el-2024-79 { color: rgb(184,212,126); padding: 8px; margin: 10px; display: flex; }